body {
  margin: 0;
  padding: 0;
}

:global(.container:not(:last-child)) {
  margin-bottom: 1rem;
}

:global(.fa.left) {
  transform: translateX(-6px);
}

:global(.fa.right) {
  transform: translateX(6px);
}
