<header class="container">
  <h1>Ember Sandbox</h1>
  <h3>Like a child, play your toy in the sandbox</h3>
  {{back-to-index currentRouteName}}
</header>

<hr>

<main class="container" role="main">
  {{outlet}}
</main>
